.cont_1 {
  height: 100vh;
  font-family: "Noto Serif KR", serif;
  padding: 1em 20em;
  box-sizing: border-box;
}
.cont_1_wrap {
  border: 1px solid lightgray;
  height: auto;
  padding: 2.5em;
  display: flex;
}

.cont_1 > .cont_1_wrap > .cont_1_text {
  padding: 1em 1em;
}
.cont_1 > .cont_1_wrap > span > img {
  width: 15em;
  height: 100%;
  opacity: 0.8;
  border-radius: 10px;
}
